body{
    margin: 0px;
    width: 100%;
    font-family:'Courier New', Courier, monospace !important;
}
a{
    text-decoration: none;
}
/*Home Css Start*/
.navbar{
    padding: 0px !important;
}
.nav-link{
    padding: 0px !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255) !important;
}
.navbar-toggler{
    margin: 15px;
}
.bg-dark{
    background:#4d556c !important;
}
header{
    background:#4d556c;
    width: 100%;
    float: left;
}
.head_top{
    width: 100%;
    background:#4d556c !important;
}
.header_left{
    float: left;
}
.menu{
   text-align: center;
   margin: 0px;
}
.menu_btn{
    display: inline-block;
    color: #fff;
    font-weight: bolder;
    padding: 15px 20px;
}
.menu_btn:hover{
    color: #4d556c !important;
    font-weight: bolder;
    background: #eaf6bf;
    padding: 15px 20px;
}
.menu_btn>.nav-link:hover{
    color: #4d556c !important;
}
.nav-link{
    color: #fff ;
    font-family:'Courier New', Courier, monospace;
}
.header_right{
    float: right;
    margin: 0px 20px 0px;
}
.sociallogo{
    height:30px;
    width:30px;
    margin: 0px 5px;
}
.header_right a{
    text-decoration: none !important;
}
.sociallogo:hover{
    animation: socialiconspin 5s 1;
 }
 @keyframes socialiconspin{
     0% {transform: scale(1.0)}
     10% {transform: scale(1.1)}
     20% {transform: rotate(10deg)}
     30% {transform: rotate(-10deg)}
     40% {transform: scale(1.0)}
   
 }
.profile_bg{
    height:450px;
    background-image:url('images/profile_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.profile_bg_cont{
    text-align: center;
    padding: 40px 20px;   
}
.profile_img{
    border: 5px solid #fff;
    width: 15%;
    border-radius: 50%;
    margin-bottom: 10px;
}
.profile_name{
    font-size: 36px;
    color: #fff;
}
.designation{
    color: #f4f6bf;
    font-size: 18px;
    animation: fadeouttext 3s;
}
@keyframes fadeouttext{
    from{ transform: scale(0.0) }
    to  { transform: scale(1.0) }
}
.profile_text{
    color: #dff0ff;
    line-height: 24px;
    width: 60%;
    text-align: center;
    display: inline-block;
    animation: fadeoutprofiletext 3s;
    z-index: -1;
}
@keyframes fadeoutprofiletext{
    from{ transform: scale(0.0) }
    to  { transform: scale(1.0) }
}
/*Home Css End*/

/*Skills Css Start*/
.skills_bg{
    background: #e5e5e5;
    width: 100%;
    padding: 60px 0px;
    text-align: center;
    
}
.skills_text{
    margin: 0px;
    border-bottom: 4px double #8a8a8b;
    border-top: 4px double #8a8a8b;
    display: inline-block;
    width: auto;
    padding: 0px 0px 0px 0px;
    color: #4d556c;
    font-size: 30px;
    font-weight: 600;
}
.skills_logo{
    width: 100%;
    margin: 0px;
    padding: 40px 0px 0px;
}
.skills_logo_border{
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
    padding: 20px;
    border: 1px solid #b9b9b9;
    border-radius: 15px;
    box-shadow: 5px 5px 8px 0px #b7b7b7;
    animation: skillsbgeffect 3s;
}
@keyframes skillsbgeffect{
    from{ transform: scale(0.0) }
    to  { transform: scale(1.0) }
}
/* .skills_logo li:hover{
    text-decoration: none;
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border: 1px solid #b9b9b9;
    border-radius: 15px;
    box-shadow: 5px 5px 8px 0px #b7b7b7;
    background: #e5e5e5;
} */
.skills_logo h3{
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
}
/*Skills Css End*/

/*Experience Css Start*/
.experience_bg{
    background: #fff;
    width: 100%;
    padding: 60px 0px;
    text-align: center;
    display: inline-block;
}
.experience_text{
    margin: 0px;
    border-bottom: 4px double #8a8a8b;
    border-top: 4px double #8a8a8b;
    display: inline-block;
    width: auto;
    padding: 0px 0px 0px 0px;
    color: #4d556c;
    font-size: 30px;
    font-weight: 600;
}

.card{
    width: 100%;
    border: 1px solid #cccccc;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 15px !important;
    display: inline-block;
    box-shadow: 5px 5px 8px 0px #b7b7b7;
    padding: 15px 15px 0px;
}
.card h3{
    font-size: 22px;
    margin-bottom:10px;
    font-weight: 600;
}
.card h6{
    font-size: 16px;
    margin: 0px;
}
.card p{
    padding: 10px;
}
.card img{
    width: 50px;
    margin: 0px auto;
    margin-top: -7%;
    margin-bottom: 2%;
    background: #fff;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 5px 5px 8px 0px #b7b7b7;
}

/*Experience Css End*/

/*Education Css Start*/
.education_bg{
    background: #e5e5e5;
    width: 100%;
    padding: 60px 0px;
    text-align: center;
    display: inline-block;
}
.education_text{
    margin: 0px;
    border-bottom: 4px double #8a8a8b;
    border-top: 4px double #8a8a8b;
    display: inline-block;
    width: auto;
    padding: 0px 0px 0px 0px;
    color: #4d556c;
    font-size: 30px;
    font-weight: 600;
}
.card_education{
    width: 100%;
    border: 1px solid #cccccc;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 15px !important;
    display: inline-block;
    box-shadow: 5px 5px 8px 0px #b7b7b7;
    padding: 15px 15px 0px;
    background: none !important;
}
.card_education h3{
    font-size: 22px;
    margin-bottom:10px;
    font-weight: 600;
}
.card_education h6{
    font-size: 16px;
    margin: 0px;
}
.card_education p{
    padding: 10px;
}

/*Education Css End*/

/*Contact Css Start*/
.contact_bg{
    background: #fff;
    width: 100%;
    padding: 60px 0px;
    text-align: center;
    display: inline-block;
}
.contact_text{
    margin: 0px;
    border-bottom: 4px double #8a8a8b;
    border-top: 4px double #8a8a8b;
    display: inline-block;
    width: auto;
    padding: 0px 0px 0px 0px;
    color: #4d556c;
    font-size: 30px;
    margin-bottom: 40px;
    font-weight: 600;
}
.card-contact{
    width: 100%;
    border: 1px solid #cccccc;
    margin: 0px !important;
    border-radius: 15px !important;
    display: inline-block;
    box-shadow: 5px 5px 8px 0px #b7b7b7;
    padding: 15px 15px 0px;
    background: none !important;
}
.card-contact label{
    font-weight: 600;
    text-align: left !important;
    display: block;
}
.card-contact h4{
    font-size: 20px;
    font-weight: 600;
    padding: 0px 0px 15px;
}
/*Contact Css End*/

/* footer start*/

footer{
    background:#4d556c;
    width: 100%;
    float: left;
    text-align: center;
}

footer p{
    color:#fff;
    padding: 5px;
    margin: 0px;
}

/* footer end */